<div class="row">
<div class="large-12 columns">

<h1>Contact Us</h1>

</div>
</div>

<div class="row">
<div class="large-12 columns">
<h3>Give us a call: <small> 515 - 955 - 2241</small></h3>
</div>
</div>